{% extends 'main/layout.html' %}
{% load static %}
{%block cl4 %}current{% endblock %}
{% block title%}О нас{% endblock %}
{% block css%}{% static 'about/css/about.css' %}{% endblock %}
{% block content %}
 <!-- <div class="heading">
    <h3>Новости Планетария СГУГиТ: Узнайте о последних событиях, лекциях и специальных мероприятиях в нашем звездном центре!</h3>
  
  </div> -->
  

  <article class="main-article">
    <div class="main-article_content">
        <h2 class="main-article_header">Информация о нас</h2>
        <p>Сотрудники центра:<br>
            Дамм Виктория Геннадьевна – менеджер <br>
            Симкина Анастасия Владимировна – специалист по учебно-методической работе <br>
            Чигридов Сергей Александрович – техник <br>
            Познакомиться со всем тем, что изучает астрономия, можно в учебно-научном центре "Планетарий".
            В центре специального построенного «Звёздного зала» со сферическим куполом установлен немецкий прибор планетарий "Малый Цейсс" - ZKP-1. Посетители (сразу до 35 человек) могут увидеть точную картину звездного неба, удивительные небесные явления, совершить занимательные путешествия в мир других планет и далёкого космоса.

            Планетарий начал свою работу 15 января 1952 года. Новосибирский планетарий при СГУГиТ, один из старейших в России, имеет свою историю, интересные традиции и по праву занимает высокое место среди учебно-научных центров.

            Главная задача УНЦ "Планетарий" – это учебно-просветительская и научная деятельность.

            Во все времена предназначением планетария являлось формирование морально-духовных ценностей общества, его нравственности и общей культуры человека через популяризацию астрономии.

            При Планетарии работает студенческий астрономический отряд, благодаря которому выполняется большой объем работы по организации и проведению всех массовых астрономических мероприятий в городе и области.
  
        </p>
        
          <h2>Правила посещения УНЦ «Планетарий»</h2>
        <p>
Уважаемые посетители, пожалуйста, перед посещением планетария ознакомьтесь с правилами, чтобы ваш визит стал наиболее комфортным для вас и других посетителей!<br>

Посещение экскурсий в планетарии возможно ТОЛЬКО ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ! Вы можете посетить нас группами от 3-х до 35 человек, заранее выбрав для себя подходящую дату и время. Записаться на экскурсию можно по тел: +7 (383) 343-29-44 или +7 (952) 942-85-67.<br>
Наш адрес: г. Новосибирск, ул. Пархоменко, 9, 5 этаж, ауд. 536.
График работы: пн-пт, с 9:00 до 17:00. Экскурсии в субботу возможны при посещении группой не менее 20 человек!
Рекомендуемый возраст для посещения наших экскурсий: 6+
Оплата производится на месте, в день посещения.<br>
Приходите заблаговременно до начала экскурсии. Рекомендуемое время: за 5-10 минут до начала. Это позволит вам выбрать наилучшее место, т.к. звездный зал планетария подразумевает свободную рассадку посетителей.
Во время экскурсии в звёздном зале абсолютная темнота, поэтому запрещено вставать со своих мест, ходить по залу и выходить из него.
В звёздный зал планетария запрещено проносить еду и напитки, в том числе алкоголь.<br>
В планетарий также запрещено проносить острые, колюще-режущие предметы, огнестрельное оружие, газовые, перцовые баллончики. Ручную кладь размером более 55×40×23 см необходимо оставить в гардеробе!
В зимний период вы можете воспользоваться услугами гардероба. У нас не требуется сменная обувь при посещении планетария. Гардероб расположен на 1 этаже.
В период действия ограничительных мер в связи с предупреждением распространения коронавирусной инфекции, посетители без масок не будет допущены в планетарий!<br>
Мы будем рады видеть вас в нашем звёздном зале!

С уважением, учебно-научный центр «Планетарий» при СГУГиТ.
        </p>
        
          <h2>Сотрудники центра</h2>
        <p>
Дамм Виктория Геннадьевна – менеджер<br>
Симкина Анастасия Владимировна – специалист по учебно-методической работе<br>
Чигридов Сергей Александрович – техник<br>
Познакомиться со всем тем, что изучает астрономия, можно в учебно-научном центре "Планетарий". В центре специального построенного «Звёздного зала» со сферическим куполом установлен немецкий прибор планетарий "Малый Цейсс" - ZKP-1. Посетители (сразу до 35 человек) могут увидеть точную картину звездного неба, удивительные небесные явления, совершить занимательные путешествия в мир других планет и далёкого космоса.<br>

Планетарий начал свою работу 15 января 1952 года. Новосибирский планетарий при СГУГиТ, один из старейших в России, имеет свою историю, интересные традиции и по праву занимает высокое место среди учебно-научных центров.

Главная задача УНЦ "Планетарий" – это учебно-просветительская и научная деятельность.

Во все времена предназначением планетария являлось формирование морально-духовных ценностей общества, его нравственности и общей культуры человека через популяризацию астрономии.

При Планетарии работает студенческий астрономический отряд, благодаря которому выполняется большой объем работы по организации и проведению всех массовых астрономических мероприятий в городе и области.
        </p>
</div>

      <div class="map" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73254.17245045825!2d82.71214769726564!3d54.987251999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe6cc8bc2909b%3A0xec10c2fd90c04c3a!2z0J_Qu9Cw0L3QtdGC0LDRgNC40Lk!5e0!3m2!1sru!2sru!4v1715086378448!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   <div class="contact">
        <h1>Контакты</h1>
        <label>7 (383) 343-29-44</br></label>
        <label>planetarium@ssga.ru</br></label>
        <label>630108, г. Новосибирск, ул. Пархоменко, 9</label>
   </div>
</div>
{% endblock %}
