{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta thhp-equip="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>

    <link href="{% block css%}{% endblock%}" rel="stylesheet">
    <script src="{% block js %}{%endblock%}"  ></script>


</head>
<body style="background: url({% static 'write/img/fon.png' %})">
{% block content %}


{% endblock %}
</body>
</html>