{% extends 'main/layout2.html' %}
{% load static %}
{% block css%}{% static 'write/css/mai.css' %}{% endblock %}

{% block content %}


   <div class="container" >
    <form method="post">
        {% csrf_token %}
                <a href="/" class="cancel" style="position: absolute;" ><img src="{% static 'write/img/cancel.png' %}"></a>
          <div class="brand-logo"><img src="{% static 'write/img/logo.png' %}" alt=""></div>
            <div class="brand-title">Введите ваши данные для связи</div>
              <div class="inputs">
                <label>НОМЕР ТЕЛЕФОНА</label>
                  {{form.tel}}
<!--                <input type="email" placeholder="7-000-000-00-00" />-->
                <label>КОЛИЧЕСТВО ЛЮДЕЙ</label>
                  {{form.count}}
<!--                <input type="email" placeholder="3-35" />-->
                <button type="submit">оставить заявку</button>

              </div>
    </form>

   </div>
<script>
    function maxL(input, maxLength){
        if (input.value.length > maxLength){
            input.value = input.value.slice(0, maxLength);
        }
    }
</script>
{% endblock %}



